.second-p {
  margin-top: -10px;
  display: block;
  width: 100% !important;
}

.kurzy-wrap ul {
  font-size: 22px;
}

@media only screen and (max-width: 1600px) {
  .kurzy-wrap p {
    width: 100% !important;
  }
}

@media only screen and (max-width: 600px) {
  .kurzy-wrap p {
    width: 100% !important;
    font-size: 18px;
  }

  .kurzy-wrap ul {
    font-size: 18px;
  }
}
